* {
  box-sizing: border-box;
}
.deadman-page {
  text-transform: uppercase;
  background-color: #4c4c4e;
  color: #fff;
}

.deadman-content,
.hang-em-up {
  margin: 10em 0 0 0;
  width: 49%;
  text-align: center;
  display:inline-block;
  vertical-align: top;
}
.hang-em-up {
  display: inline-block;
  position: relative;
  width: 50%;
  height:
  img {
    height: auto;
  }
}



.deadman-page h1 {
  font-weight: 400;
}


.guess-result {
  padding: 2em;
  animation: moveit .38s linear;
  -webkit-animation: moveit .38s linear;
}

input,
button {
  &:focus {
    outline: none;
  }
}

input {
  padding: 1em;
  border: 1px solid #999;
}

button {
  background-color: $red;
  border: none;
  color: #fff;
  padding: 1em;
}
