.deadman-page {
  text-transform: uppercase;
  background-color: #4c4c4e;
  color: #fff;
}

.deadman-content {
  width: 60%;
  margin: 15% auto;
  text-align: center;
}
.deadman-page h1 {
  font-weight: 400;
}

@keyframes moveit {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;

  }
}

@-webkit-keyframes moveit {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: rotate(1turn);
  }
}

.guess-result {
  padding: 2em;
  animation: moveit .38s linear;
  -webkit-animation: moveit .38s linear;
}

input,
button {
  &:focus {
    outline: none;
  }
}

input {
  padding: 1em;
  border: 1px solid #999;
}

button {
  background-color: deeppink;
  border: none;
  color: #fff;
  padding: 1em;
}

      ________
     |        |
     O        |
     +        |
    /\        |
              |
______________|
